<!DOCTYPE html>
<html lang="zh-cn" ng-app="myApp">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="ngCitypicker : ngCityPicker">

    <link rel="stylesheet" href="dist/ngCityPicker.min.css">
    <title>ngCitypicker Demo</title>
    <style>
      body{
        background: rgb(255,255,221);
      }

      .container{
        width:100%;
      }

      .left, .right{
        float: left;
        width: 48%;
      }

      .ngCityPicker{
        width:350px;
        margin:0 auto;
      }

      .ngCityPicker .code{
        margin-top: 1em;
      }

      .code{
        border-radius: 5px;
        font-size: 1.2em;
        background: #f7f7f7;
        padding:15px;
      }
    </style>
  </head>

  <body ng-controller="myCtrl">
    <div class="container">
      <h1>ngCityPicker Demo</h1>
      <hr/>
      <div class="left">
        <div class="ngCityPicker">
          <mk-city-picker open="params.open" placeholder="请选择城市" format="$0省-$1市-$2县" ng-model="params.outputModel" q="params.inputModel"></mk-city-picker>
          <div class="code">
            <h3>直辖市：</h3>
            <p>北京、天津、上海、重庆是直辖市，选择省份后直接跳转到县区选择框；</p>
            <br/>
            <h3>不设市辖区的地级市：</h3>
            <p>目前包括四个不设市辖区的地级市：广东中山、广东东莞、甘肃嘉峪关、海南三亚，这些城市不设县区，选择城市后直接关闭选择框；</p>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="code">
          <code>
            <h3>HTML代码：</h3>
            <p>
              &#60;mk-city-picker open="params.open" placeholder="请选择城市" format="$0省-$1市-$2县" ng-model="params.outputModel" q="params.inputModel"></mk-city-picker>
            </p>
            <br/>
            <h3>JS代码：</h3>
            <p>
              <pre>
              angular.module('myApp', ['ngCityPicker'])
              .controller('myCtrl', ['$scope', function($scope){
                  $scope.params = {
                      outputModel:null,
                      open:false,
                      // inputModel:"440106",
                      inputModel:['广东','广州','天河']
                  }
              }]);
              </pre>
            </p>
            <h3>ngCityPicker参数：</h3>
            <p ng-bind="'open = ' + params.open"></p>
            <p ng-bind="'q = ' + (params.inputModel | json)"></p>
            <p ng-bind="'ng-model = ' + (params.outputModel | json)"></p>
          </code>
        </div>
      </div>
    </div>

    <script src="lib/angular.min.js"></script>
    <script src="dist/ngCityPicker.min.js"></script>
    <script>
      angular.module('myApp', ['ngCityPicker'])
      .controller('myCtrl', ['$scope', function($scope){
          $scope.params = {
              outputModel:null,
              open:false,
              // inputModel:"440106",
              inputModel:['广东','广州','天河']
          }
      }]);
    </script>
  </body>
</html>
